/* Body */
body{
    background-color: rgb(73, 69, 69); 
}
/* Navbar */
.navbar{
    max-height: 57px; 
}
.navigation .navbar-brand{
    color: rgb(20, 18, 18); 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: rgb(52, 80, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: white; 
    font-size: 15px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:rgb(78, 83, 112)!important; 
}
.dropdown-item{
    color: rgb(71, 72, 73) !important; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
}
a{
    color: #6D8092;
    font-size: 15px; 
}
.nav-link:hover{
    background-color:#E7E7E7 !important;
   }

.navbar-brand:hover{
color: rgb(175, 175, 175) !important;
}
/* Images */
img{
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    border-color:rgb(3, 18, 70);
    border-style: solid; 
    
}
.vizualization{
    width:50% !important;
    height:50% !important;
}

/* Title Class  */
.title{
    color: rgb(3, 12, 31);  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph Element */
p{
 color: #6D8092;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px; 
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: rgb(249, 251, 252); 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: rgb(190, 216, 245) !important; 
}
/* Footer */
footer{
background-color: #636d72; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: rgb(13, 27, 43);
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}
/* Media Queries */
@media(max-width: 992px){
.navbar-expand-lg{
background-color: rgb(52, 61, 90) !important;
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: rgb(110, 126, 179);  
}
.navbar-brand{
    padding: 10px !important; 
}

button{
    margin-right: 30px; 
}
button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
}